In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [48]:
df = pd.read_csv('Titanic-Dataset.csv')
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [ ]:
# Name and ticket do not provide useful information for analysis, so we can drop them.
df.drop(['Name', 'Ticket'], axis=1, inplace=True)
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = df[column].astype('category')
        print(df[column].value_counts())
#No errors found in the dataset other than cabin.

Sex
male      577
female    314
Name: count, dtype: int64
Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
              ..
E63            1
E50            1
F G63          1
F38            1
T              1
Name: count, Length: 147, dtype: int64
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [54]:
#To make changes in columnn Cabin, we will only keep the values with one letter and two digits attached to it.
df_filtered = df[df['Cabin'].str.match(r'^[A-Za-z]\d{2}$', na=False)]
df_filtered['Cabin_letter'] = df_filtered['Cabin'].str[0]
df_filtered['Cabin_number'] = (df_filtered['Cabin'].str[1:3]).astype(int)
df_filtered.drop('Cabin', axis=1, inplace=True)

C:\Users\saisi\AppData\Local\Temp\ipykernel_30008\407197967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Cabin_letter'] = df_filtered['Cabin'].str[0]
C:\Users\saisi\AppData\Local\Temp\ipykernel_30008\407197967.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Cabin_number'] = (df_filtered['Cabin'].str[1:3]).astype(int)
C:\Users\saisi\AppData\Local\Temp\ipykernel_30008\407197967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.drop('Cabin', axis=1, inplace=True)

In [58]:
for column in df_filtered.columns:
    if df_filtered[column].dtype == 'category':
        print(df_filtered[column].value_counts())

Sex
male      68
female    60
Name: count, dtype: int64
Embarked
S    72
C    51
Q     3
Name: count, dtype: int64

In [59]:
#Finding the missing values in each column of the dataset
for column in df_filtered.columns:
    print(df_filtered[column].isnull().sum(), "missing values in", column)

0 missing values in PassengerId
0 missing values in Survived
0 missing values in Pclass
0 missing values in Sex
12 missing values in Age
0 missing values in SibSp
0 missing values in Parch
0 missing values in Fare
2 missing values in Embarked
0 missing values in Cabin_letter
0 missing values in Cabin_number

In [60]:
#We shall fill the missing values in the 'Age' column with the mean of age and delete the missing rows in 'Embarked' column
#2 is negligible compared to the total number of rows
df_filtered['Age'].fillna(df_filtered['Age'].mean(), inplace=True)
df_filtered.dropna(subset=['Embarked'], inplace=True)
df_filtered.isnull().sum()

C:\Users\saisi\AppData\Local\Temp\ipykernel_30008\1972377803.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filtered['Age'].fillna(df_filtered['Age'].mean(), inplace=True)
C:\Users\saisi\AppData\Local\Temp\ipykernel_30008\1972377803.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Age'].fillna(df_filtered['Age'].mean(), inplace=True)
C:\Users\saisi\AppData\Local\Temp\ipykernel_30008\1972377803.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.dropna(subset=['Embarked'], inplace=True)

PassengerId     0
Survived        0
Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
Cabin_letter    0
Cabin_number    0
dtype: int64

In [ ]:
import 
for column in df.columns:
    if df[column].dtype == 'category':